body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.container {
  max-width: 320px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  align-items: baseline;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio {

}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.header-add-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

             /* section 2 */

  .hero .container {
  display: block; 
  text-align: center;
}
.hero {
  background-color: #2e2f42;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
color: #ffffff;
text-align: center;
letter-spacing: 0.02em;
	padding: 188px 0;
	margin: 0 auto;
  }

  .hero-title {
   font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
  
}

.main-btn-button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
 margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn-button:hover,
.main-btn-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

       /* section-3 */

       
.main-business {
  /* padding: 120px 0; */
padding-left:16px;
padding-right:16px;

}
.features-vor {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  width: 264px;
  flex-direction: column; */
  display: none;
}
.features-vor svg {
  width: 64px;
  height: 64px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  /* gap: 24px; */
  flex-wrap: wrap;
  display: flex;
  gap: 72px;
}

.features-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  
}
.features-item-text {
   line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  font-weight: 400;
font-size: 16px;
margin-bottom: 8px;
font-weight: 500;
text-align: center;


}

.features-item-ter{
font-weight: 500;
color:#FFFFFF;
margin-bottom: 16px;
 line-height: 1.5 ;
 letter-spacing: 0.02em;

}

.features-title {
  /* font-weight: 500; */
  /* font-size: 20px; */
  /* line-height: 1.2; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;

}

      /* feat-section */

.container-mod {
padding: 32px 0px;
text-align: center;
margin-bottom: 72px;

}



.feat-section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.feat-section .container {
  /* display: block; */
}

.feat-section-tu {
  /* display: flex; */
  gap: 24px;
}

.feat-title {
  /* font-weight: 500; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  /* text-transform: capitalize; */
  color: #2e2f42;
  /* min-width: 162px;
  margin: 0 auto;
  margin-bottom: 72px; */
  font-weight: 700;
font-size: 36px;
color: #2e2f42;
  
}

.feat-li {
  background-color: #fff;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  }

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.icons-top {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icons-ty {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-ty:hover {
  background-color: #404bbf;
}
.icons-ty:focus {
  background-color: #404bbf;
}

.icons-ppo {
  fill: #f4f4fd;
}

.icons-ret {
  width: 40px;
  height: 40px;
}


      /* ourportfolio */

.main-ourportfolio {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-ourportfolio .container{

  display: block;
}

.ourportfolio {
  margin-bottom: 72px;

}

.portfolio-text {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.container-fest {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.ourportfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-lid {
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 48px;
   /* background-color: #fff;
  width: calc((100% - 48px) / 3); */
}


.portfolio-lid:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.our-portfolio {
  position: relative;
  overflow: hidden;
}

.our-portfolio-war {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-lid:hover .our-portfolio-war {
  transform: translateY(0);
}


.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 120%; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; 
line-height: 1.2;


}

.portfolio-p {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 150%; */
  letter-spacing: 0.02em;
  color: #434455;
line-height: 1.5;

}

   /* footer */

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 120px;
}

.logo-footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-pqw {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}




.footer-icons {
  display: flex;
  gap: 16px;
}

.icons-footer {
  width: 40px;
  height: 40px;
}

.icons-svg {
  fill: #f4f4fd;
}

.icons-foot:hover,
.icons-foot:focus {
  background-color: #31d0aa;
}

.icons-foot {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-ter {
  margin-right: 120px;
}

.icons-foot {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-ivop {
  
}
.footer-input {

}

                  /* /////------////// */

   .backdrop {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }   
  .is-open {
    opacity: 1;
pointer-events: auto;
visibility: visible;
  }
   
 .modal {
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
 
   }  
   .backdrop:not(is-open).modal {
  transform: translate(-50%, -100%);
}

.modal-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
 

 .modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }


 
.modal-button:hover,.modal-button:focus { background-color: #404bbf;
  border: none;
}


.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
fill: #fff;
}


.modal-user-name{
   position: relative;
}




 .model-title{
 font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  tab-size: ceter;
  margin-bottom: 16px;
 }
.model-input{
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 100%;
 height: 40px ;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent; 
  padding-left: 38px;
  outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus {
 border-color: #4D5AE5; 
}
.model-input:focus + .modal-svg-van {
  fill: #4d5ae5;
}
.model-input:focus{
  fill: #4d5ae5;
}


.modal-form-van {
  margin-bottom: 8px;
}

.modal-svg-van{
fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.user-name-text {
 display: block;
  margin-bottom: 4px;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  padding: 16px 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field.textarea {
  margin-bottom: 16px;
}


.modal-field.checkbox {
  margin-bottom: 24px;
}

.modal-input-cover {
  position: relative;
}

.check-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  justify-content: center;
  line-height: 1.17;
}

.check-element {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text .check-element {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

:root {
  --accent-color: #404bbf;
  --icon-fill-color: #F4F4FD;
  focus-icon-color: #4D5AE5;
}

.modal-check:checked + label .check-element {
  background-color: var(--accent-color);
  border: none;
  fill: #F4F4FD;
  
}

.modal-check:checked + label .check-element svg {
  fill: var(--icon-fill-color);
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer
}

.modal-btn:hover,
.modal-btn:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
}



.footer-subscribe {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  margin-left: auto;
  gap: 24px;
}

.footer-text-subscribe {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
}
.footer-input:hover,
.footer-input:focus {
  border-color: #4d5ae5;
}
.footer-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  color: #fff;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-frame {
  fill: #fff;
  margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
}




@media screen and (min-width:768px) {
  .container {
    max-width:768px;
    padding-left: 16px;
    padding-right: 16px;
    
  }
.main-business {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
gap: 24px;

}
 
       /* feat-section */
 .feat-section {
  padding-top: 96px;
  padding-bottom: 96px;
   } 
 .feat-title {
 font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-bottom: 72px;
     }
.name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.features-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
padding-top: 8px;
padding-bottom: 8px;
}

.feat-li {
  border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
width: 264px;
   width: calc((100% - 24px) / 2);
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;

 }



       /* ourportfolio */
.main-ourportfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.ourportfolio {
  margin-bottom: 72px;
  font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.our-portfolio {
  width: 356px;
height: 300px;
}
.portfolio-lid {
width: calc((100% - 24px) / 2);

}





}








@media screen and (min-width:1440px) {
  .container {
max-width: 1440px;
  }
.main-business{
  padding: 120px 0;
 
}
.features-vor {
   display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  width: 264px;
  flex-direction: column;
  
}
.features-list {
   gap: 24px;
   flex-wrap: nowrap;S
}
.features-item-text {
  font-weight: 400;
}
.features-title {
  font-weight: 500; 
  font-size: 20px;
  line-height: 1.2; 
}
         /* feat-section */
.feat-title {
  font-weight: 500;
  text-transform: capitalize;
   min-width: 162px;
   margin: 0 auto;
  margin-bottom: 72px;
}
.feat-section {
 padding-top: 120px;
  padding-bottom: 120px;
}
.feat-section .container {
  display: block;
}
.feat-section-tu {
  display: flex;
}
.feat-li {
  width: calc((100% - 72px) / 4);
}
        /* ourportfolio */
.main-ourportfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-lid {
   background-color: #fff;
  width: calc((100% - 48px) / 3);
}
.portfolio-h { 
  line-height: 120%;

}
.portfolio-p {
   line-height: 150%;
}

          /* footer */



}